body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(2, 2, 37),rgba(2, 2, 37, 0.801),rgba(68, 2, 68, 0.945));
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}
h3{
  color: rgb(240, 218, 186);
}
h2{
  position: absolute;
  top: 52%;
  left:35%;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
#score{
  position: absolute;
  top: 62%;
  left:32%;
}
#restart {
  position:relative;
  top:73.5%;
  background: #39d934;
  background-image: -webkit-linear-gradient(top, #39d934, #4ba112);
  background-image: -moz-linear-gradient(top, #39d934, #4ba112);
  background-image: -ms-linear-gradient(top, #39d934, #4ba112);
  background-image: -o-linear-gradient(top, #39d934, #4ba112);
  background-image: linear-gradient(to bottom, #39d934, #4ba112);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 6px 14px 6px 14px;
  text-decoration: none;
}

#restart:hover {
  background: #ed1717;
  background-image: -webkit-linear-gradient(top, #ed1717, #8a0524);
  background-image: -moz-linear-gradient(top, #ed1717, #8a0524);
  background-image: -ms-linear-gradient(top, #ed1717, #8a0524);
  background-image: -o-linear-gradient(top, #ed1717, #8a0524);
  background-image: linear-gradient(to bottom, #ed1717, #8a0524);
  text-decoration: none;
}
#simon-game{
  margin: 2%;
}
.score{
  display:none;
  position: relative;
  text-align: center;
  height:650px;
  width:640px;
  margin: 0 auto;
  background: url("bomb1.jpg");
  background-repeat: no-repeat;
  background-size:contain;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


